.Header {
    background-color: gray;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 4%;
    margin-bottom: 0 ;
}

.Header > h1:hover {
    color: rgb(175, 175, 11);
}